<md-dialog aria-label="LEIA A ETIQUETA DA QUEBRA">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>LEIA A ETIQUETA DA QUEBRA</h2>
          <span flex></span>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block">
                <label>LEITOR</label>
                <input required md-no-asterisk name="description" ng-model="consulta.input" autofocus>
                <div ng-messages="projectForm.description.$error">
                    <!-- <div ng-message="required">This is required.</div> -->
                    <!-- <div ng-message="md-maxlength">The description must be less than 30 characters long.</div> -->
                </div>
            </md-input-container>  
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button ng-click="answer('useful')">
          Reimprime
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>